<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css'%}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

  <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
        <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                
                <div class="nav-item dropdown">
                    {% comment %} <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                        <a href="feature.html" class="dropdown-item">Feature</a>
                        <a href="team.html" class="dropdown-item">Our Doctor</a>
                        <a href="appointment.html" class="dropdown-item"></a>
                        <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                        <a href="404.html" class="dropdown-item">404 Page</a> {% endcomment %}
                    </div>
                </div>
                <a href="doctors" class="nav-item nav-link">DOCTORS</a>
            </div>
            <div>
                <a href="appointment" class="nav-item nav-link">APPOINTMENT</a>
            </div>
            <a href="/" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Logout<i class="fa fa-arrow-right ms-3"></i></a>
        </div>
        
    </nav>
    <!-- Navbar End -->


    <!-- Header Start -->
    <div class="container-fluid header bg-primary p-0 mb-5">
        <div class="row g-0 align-items-center flex-column-reverse flex-lg-row">
            <div class="col-lg-6 p-5 wow fadeIn text-white" data-wow-delay="0.1s">
                <p class="fs-4">
                This short screening is designed to help you to identify possible signs of a Specific Learning Disability (SLD) in your child. It is not a diagnosis, but it may help you decide whether further evaluation or support could be beneficial. Answer honestly based on your child’s everyday learning experiences.
                <p>
                <div class="row g-4">
                    <div class="col-sm-4">
                        <div class=" ps-4">
                             <!-- Buttons -->
<div class="d-flex flex-column flex-sm-row gap-3 mt-4">
    <!-- Instructions Button -->
    <a href="#instructions" class="btn btn-outline-light btn-lg px-4 shadow-sm btn-instructions">
        <i class="fa fa-info-circle me-2"></i> Instructions
    </a>

    <!-- Take Test Button -->
    <a href="test.html" class="btn btn-warning btn-lg px-5 shadow btn-test">
        <i class="fa fa-clipboard-list me-2"></i> Take Test
    </a>
</div>

                           
                           
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="border-start border-light ps-4">
                           
                           
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class=" ps-4">
                         <div class="col-lg-6 p-5 wow fadeIn" data-wow-delay="0.1s">

  

</div>
   
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="owl-carousel header-carousel">
                    <div class="owl-carousel-item position-relative">
                        <img class="img-fluid" src="{% static 'img/dyslexia.jpg'%}" alt="">
                        <div class="owl-carousel-text">
                            <h1 class="display-1 text-white mb-0">Dyslexia</h1>
                        </div>
                    </div>
                    <div class="owl-carousel-item position-relative">
                        <img class="img-fluid" src="{% static 'img/dysgraphia.jpg'%}" alt="">
                        <div class="owl-carousel-text">
                            <h1 class="display-1 text-white mb-0">Dysgraphia</h1>
                        </div>
                    </div>
                    <div class="owl-carousel-item position-relative">
                        <img class="img-fluid" src="{% static 'img/dyscalculia.jpg'%}" alt="">
                        <div class="owl-carousel-text">
                            <h1 class="display-1 text-white mb-0">Dyscalculia</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- About Start -->
   
    <!-- About End -->


    <!-- Service Start -->
      <div id="instructions">
    <!-- Instructions content here -->
</div>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                
                <h1>Instructions</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center"  style="width: 65px; height: 65px;">
                            
                        </div>
                       
 
                        <h4 class="mb-3">Purpose of the Test</h4>
                        <ul><li>This test helps to observe your child’s natural learning abilities.</li>

<li>Honest and independent responses from the child are essential.</li>

<li>The results can help decide whether further evaluation or professional support may be helpful.</li></ul>
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center  " style="width: 65px; height: 65px;">
                           
                        </div>
                        <h4 class="mb-3">Parental Presence Is Required</h4>
                        <p class="mb-4"><ul><li>A parent or guardian must be present while the child takes the test.</li>

<li>Your role is to observe, reassure, and support emotionally, not academically.</li>

<li>Stay nearby throughout the entire test session.</li></ul>
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center " style="width: 65px; height: 65px;">
                           
                        </div>
                        <h4 class="mb-3">No Outside Help During the Test</h4>
                        <p class="mb-4"><ul><li>Please do not help your child answer questions.</li>

Avoid:

<li>Explaining questions</li>

<li>Giving hints or clues</li>

<li>Correcting answers</li>

<li>Suggesting what to choose</li></ul>

The child’s responses should reflect their own understanding and ability.</p>
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center " style="width: 65px; height: 65px;">
                            
                        </div>
                        <h4 class="mb-3">When Support Is Allowed</h4>
                        <p class="mb-4">You may assist your child only when necessary, such as:

<ul><li>Helping them stay calm or focused</li>

<li>Encouraging them to continue if they feel anxious or tired</li>

<li>Assisting with navigation (e.g., clicking “Next” if they are very young)</li></p>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center  " style="width: 65px; height: 65px;">
                           
                        </div>
                        <h4 class="mb-3">Create a Comfortable Environment</h4>
                        <p class="mb-4">Ensure the test is taken in a quiet, distraction-free space.

Make sure your child is:

<ul><li>Well-rested</li>

<li>Comfortable</li>

<li>Not rushed</li></ul>

A calm environment helps your child perform naturally.</p>
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center  " style="width: 65px; height: 65px;">
                            
                        </div>
                        <h4 class="mb-3">Encourage, Don’t Pressure</h4>
                        <p class="mb-4">Let your child know:

<ul><li>There are no right or wrong answers</li>

<li>This is not an exam</li>

<li>They can take their time</li>

Positive encouragement helps reduce anxiety and improves cooperation.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Feature Start -->
   
    <!-- Feature End -->


    <!-- Team Start -->
  
    <!-- Team End -->


    <!-- Appointment Start -->
   
    <!-- Appointment End -->


    <!-- Testimonial Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Testimonial</p>
                <h1>What Say Our Patients!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" src="{% static 'img/testimonial-1.jpg'%}" style="width: 100px; height: 100px;">
                    <div class="testimonial-text rounded text-center p-4">
                        <p>Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea clita.</p>
                        <h5 class="mb-1">Patient Name</h5>
                        <span class="fst-italic">Profession</span>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" src="{% static 'img/testimonial-2.jpg'%}" style="width: 100px; height: 100px;">
                    <div class="testimonial-text rounded text-center p-4">
                        <p>Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea clita.</p>
                        <h5 class="mb-1">Patient Name</h5>
                        <span class="fst-italic">Profession</span>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" src="{% static 'img/testimonial-3.jpg'%}" style="width: 100px; height: 100px;">
                    <div class="testimonial-text rounded text-center p-4">
                        <p>Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea clita.</p>
                        <h5 class="mb-1">Patient Name</h5>
                        <span class="fst-italic">Profession</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


  

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js'%}"></script>
    <script src="{% static 'lib/easing/easing.min.js'%}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js'%}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js'%}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js'%}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js'%}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js'%}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js'%}"></script>
</body>

</html>